In [1]:
# Importando todos os componentes da biblioteca spark

import pyspark

In [2]:
#Lendo os arquivos csv com o comando textFile(), e utilizando u zipWithIndex() que junta uma string do texto de cada linha do csv
#vinculada a uma tupla onde a segunda posição representa um indice
RDDtreino = sc.textFile('projeto4_telecom_treino.csv').zipWithIndex()
RDDteste = sc.textFile('projeto4_telecom_teste.csv').zipWithIndex()

In [3]:
#Visualizando o resultado inicial, onde temos uma "lista" (RDD) de tuplas, onde o primeiro elemento de cada tupla é uma string
#referente a toda a linha do csv, e o segundo elemento o índice]

RDDtreino.take(5)

[('"","state","account_length","area_code","international_plan","voice_mail_plan","number_vmail_messages","total_day_minutes","total_day_calls","total_day_charge","total_eve_minutes","total_eve_calls","total_eve_charge","total_night_minutes","total_night_calls","total_night_charge","total_intl_minutes","total_intl_calls","total_intl_charge","number_customer_service_calls","churn"',
  0),
 ('"1","KS",128,"area_code_415","no","yes",25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10,3,2.7,1,"no"',
  1),
 ('"2","OH",107,"area_code_415","no","yes",26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1,"no"',
  2),
 ('"3","NJ",137,"area_code_415","no","no",0,243.4,114,41.38,121.2,110,10.3,162.6,104,7.32,12.2,5,3.29,0,"no"',
  3),
 ('"4","OH",84,"area_code_408","yes","no",0,299.4,71,50.9,61.9,88,5.26,196.9,89,8.86,6.6,7,1.78,2,"no"',
  4)]

In [4]:
#Primeiramente separando os nomes das colunas, que após utilizado o metodo zipWithIndex, se encontra na tupla onde o elemento [1]
#, o indice, é igual a zero

#Após isso é utilizado o metodo split() para separar o valor unico que era a string, em diversos elementos dentro de uma lista
#separa por virgulas


#O filter percorre cada uma da tuplas, checando 
columns = RDDtreino.filter(lambda x: x[1] == 0).map(lambda x: x[0].replace('\"','')).map(lambda x: x.split(',')).collect()

In [5]:
columns = columns[0]

In [6]:
#De forma análoga ao que foi feito com as colunas, foram filtradas todas as tuplas na lista (RDD) que são maiores que zero
#e realizada a divisao também por virgulas
data = RDDtreino.filter(lambda x: x[1] > 0).map(lambda x: x[0].replace('\"', '')).map(lambda x: x.split(","))

In [7]:
data = data.map(lambda x: (x)).toDF(schema = columns)

D:\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [8]:
data.show()

+---+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
|   |state|account_length|    area_code|international_plan|voice_mail_plan|number_vmail_messages|total_day_minutes|total_day_calls|total_day_charge|total_eve_minutes|total_eve_calls|total_eve_charge|total_night_minutes|total_night_calls|total_night_charge|total_intl_minutes|total_intl_calls|total_intl_charge|number_customer_service_calls|churn|
+---+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
|  1|   KS|           128|area_code_415|                no|            yes|                   25|            265.1|            110|           45.07|            197.4|             99|           16.78|              244.7|               91|             11.01|                10|               3|              2.7|                            1|   no|
|  2|   OH|           107|area_code_415|                no|            yes|                   26|            161.6|            123|           27.47|            195.5|            103|           16.62|              254.4|              103|             11.45|              13.7|               3|              3.7|                            1|   no|
|  3|   NJ|           137|area_code_415|                no|             no|                    0|            243.4|            114|           41.38|            121.2|            110|            10.3|              162.6|              104|              7.32|              12.2|               5|             3.29|                            0|   no|
|  4|   OH|            84|area_code_408|               yes|             no|                    0|            299.4|             71|            50.9|             61.9|             88|            5.26|              196.9|               89|              8.86|               6.6|               7|             1.78|                            2|   no|
|  5|   OK|            75|area_code_415|               yes|             no|                    0|            166.7|            113|           28.34|            148.3|            122|           12.61|              186.9|              121|              8.41|              10.1|               3|             2.73|                            3|   no|
|  6|   AL|           118|area_code_510|               yes|             no|                    0|            223.4|             98|           37.98|            220.6|            101|           18.75|              203.9|              118|              9.18|               6.3|               6|              1.7|                            0|   no|
|  7|   MA|           121|area_code_510|                no|            yes|                   24|            218.2|             88|           37.09|            348.5|            108|           29.62|              212.6|              118|              9.57|               7.5|               7|             2.03|                            3|   no|
|  8|   MO|           147|area_code_415|               yes|             no|                    0|              157|             79|           26.69|            103.1|             94|            8.76|              211.8|               96|              9.53|               7.1|               6|             1.92|                            0|   no|
|  9|   LA|           117|area_code_408|                no|             no|                    0|            184.5|             97|           31.37|            351.6|             80|           29.89|              215.8|               90|              9.71|               8.7|               4|             2.35|                            1|   no|
| 10|   WV|           141|area_code_415|               yes|            yes|                   37|            258.6|             84|           43.96|              222|            111|           18.87|              326.4|               97|             14.69|              11.2|               5|             3.02|                            0|   no|
| 11|   IN|            65|area_code_415|                no|             no|                    0|            129.1|            137|           21.95|            228.5|             83|           19.42|              208.8|              111|               9.4|              12.7|               6|             3.43|                            4|  yes|
| 12|   RI|            74|area_code_415|                no|             no|                    0|            187.7|            127|           31.91|            163.4|            148|           13.89|                196|               94|              8.82|               9.1|               5|             2.46|                            0|   no|
| 13|   IA|           168|area_code_408|                no|             no|                    0|            128.8|             96|            21.9|            104.9|             71|            8.92|              141.1|              128|              6.35|              11.2|               2|             3.02|                            1|   no|
| 14|   MT|            95|area_code_510|                no|             no|                    0|            156.6|             88|           26.62|            247.6|             75|           21.05|              192.3|              115|              8.65|              12.3|               5|             3.32|                            3|   no|
| 15|   IA|            62|area_code_415|                no|             no|                    0|            120.7|             70|           20.52|            307.2|             76|           26.11|                203|               99|              9.14|              13.1|               6|             3.54|                            4|   no|
| 16|   NY|           161|area_code_415|                no|             no|                    0|            332.9|             67|           56.59|            317.8|             97|           27.01|              160.6|              128|              7.23|               5.4|               9|             1.46|                            4|  yes|
| 17|   ID|            85|area_code_408|                no|            yes|                   27|            196.4|            139|           33.39|            280.9|             90|           23.88|               89.3|               75|              4.02|              13.8|               4|             3.73|                            1|   no|
| 18|   VT|            93|area_code_510|                no|             no|                    0|            190.7|            114|           32.42|            218.2|            111|           18.55|              129.6|              121|              5.83|               8.1|               3|             2.19|                            3|   no|
| 19|   VA|            76|area_code_510|                no|            yes|                   33|            189.7|             66|           32.25|            212.8|             65|           18.09|              165.7|              108|              7.46|                10|               5|              2.7|                            1|   no|
| 20|   TX|            73|area_code_415|                no|             no|                    0|            224.4|             90|           38.15|            159.5|             88|           13.56|              192.8|               74|              8.68|                13|               2|             3.51|                            1|   no|
+---+-----+--------------+-------------+------------------+---------------+---------------------+-----------------+---------------+----------------+-----------------+---------------+----------------+-------------------+-----------------+------------------+------------------+----------------+-----------------+-----------------------------+-----+
only showing top 20 rows

In [9]:
#Analisando o tipo de dados que contém em cada coluna

data.printSchema()

root
 |-- : string (nullable = true)
 |-- state: string (nullable = true)
 |-- account_length: string (nullable = true)
 |-- area_code: string (nullable = true)
 |-- international_plan: string (nullable = true)
 |-- voice_mail_plan: string (nullable = true)
 |-- number_vmail_messages: string (nullable = true)
 |-- total_day_minutes: string (nullable = true)
 |-- total_day_calls: string (nullable = true)
 |-- total_day_charge: string (nullable = true)
 |-- total_eve_minutes: string (nullable = true)
 |-- total_eve_calls: string (nullable = true)
 |-- total_eve_charge: string (nullable = true)
 |-- total_night_minutes: string (nullable = true)
 |-- total_night_calls: string (nullable = true)
 |-- total_night_charge: string (nullable = true)
 |-- total_intl_minutes: string (nullable = true)
 |-- total_intl_calls: string (nullable = true)
 |-- total_intl_charge: string (nullable = true)
 |-- number_customer_service_calls: string (nullable = true)
 |-- churn: string (nullable = true)

In [22]:
from pyspark.sql.functions import col 
from pyspark.sql.types import StringType,BooleanType,DateType, FloatType

#looping que percorre todas as colunas do dataframe, e quando encontrados os nomes numbers e total, a coluna é transformada
#de string para booleano, para alterar colunas é utilizado o método withColumn, e para muda o tipo de dados o método cast

for i in data.columns:
    if "number" in i:
        data = data.withColumn(i, col(i).cast(FloatType()))
    elif "total" in i:
        data = data.withColumn(i, col(i).cast(FloatType()))
    elif "length" in i:
        data = data.withColumn(i, col(i).cast(FloatType()))

In [23]:
#Visualizando se as transformações foram realizadas de forma correta

data.printSchema()

root
 |-- : string (nullable = true)
 |-- state: string (nullable = true)
 |-- account_length: float (nullable = true)
 |-- area_code: string (nullable = true)
 |-- international_plan: string (nullable = true)
 |-- voice_mail_plan: string (nullable = true)
 |-- number_vmail_messages: float (nullable = true)
 |-- total_day_minutes: float (nullable = true)
 |-- total_day_calls: float (nullable = true)
 |-- total_day_charge: float (nullable = true)
 |-- total_eve_minutes: float (nullable = true)
 |-- total_eve_calls: float (nullable = true)
 |-- total_eve_charge: float (nullable = true)
 |-- total_night_minutes: float (nullable = true)
 |-- total_night_calls: float (nullable = true)
 |-- total_night_charge: float (nullable = true)
 |-- total_intl_minutes: float (nullable = true)
 |-- total_intl_calls: float (nullable = true)
 |-- total_intl_charge: float (nullable = true)
 |-- number_customer_service_calls: float (nullable = true)
 |-- churn: string (nullable = true)

In [24]:
#Criando uma função para lista as colunas de acordo com suas variáveis, para usar em um select

def listVarByType(type):
    booleanVars = []

    for i in data.dtypes:
        if i[1] == f"{type}":
            booleanVars.append(i[0])
    return booleanVars

In [25]:
booleanVars

['number_vmail_messages',
 'total_day_minutes',
 'total_day_calls',
 'total_day_charge',
 'total_eve_minutes',
 'total_eve_calls',
 'total_eve_charge',
 'total_night_minutes',
 'total_night_calls',
 'total_night_charge',
 'total_intl_minutes',
 'total_intl_calls',
 'total_intl_charge',
 'number_customer_service_calls']

In [26]:
data.select(listVarByType('string')).show()

+---+-----+-------------+------------------+---------------+-----+
|   |state|    area_code|international_plan|voice_mail_plan|churn|
+---+-----+-------------+------------------+---------------+-----+
|  1|   KS|area_code_415|                no|            yes|   no|
|  2|   OH|area_code_415|                no|            yes|   no|
|  3|   NJ|area_code_415|                no|             no|   no|
|  4|   OH|area_code_408|               yes|             no|   no|
|  5|   OK|area_code_415|               yes|             no|   no|
|  6|   AL|area_code_510|               yes|             no|   no|
|  7|   MA|area_code_510|                no|            yes|   no|
|  8|   MO|area_code_415|               yes|             no|   no|
|  9|   LA|area_code_408|                no|             no|   no|
| 10|   WV|area_code_415|               yes|            yes|   no|
| 11|   IN|area_code_415|                no|             no|  yes|
| 12|   RI|area_code_415|                no|             no|   no|
| 13|   IA|area_code_408|                no|             no|   no|
| 14|   MT|area_code_510|                no|             no|   no|
| 15|   IA|area_code_415|                no|             no|   no|
| 16|   NY|area_code_415|                no|             no|  yes|
| 17|   ID|area_code_408|                no|            yes|   no|
| 18|   VT|area_code_510|                no|             no|   no|
| 19|   VA|area_code_510|                no|            yes|   no|
| 20|   TX|area_code_415|                no|             no|   no|
+---+-----+-------------+------------------+---------------+-----+
only showing top 20 rows

In [36]:
data.groupBy('state').avg('total_day_minutes').show()

+-----+----------------------+
|state|avg(total_day_minutes)|
+-----+----------------------+
|   AZ|     171.6046872138977|
|   SC|     166.4416673342387|
|   LA|    178.37647082758886|
|   MN|    183.35476157778785|
|   NJ|    196.22499982048484|
|   DC|    171.37962934705945|
|   OR|    176.24615434499887|
|   VA|    177.24415608195517|
|   RI|    167.47846128023588|
|   WY|    180.17012903287812|
|   KY|    173.75423793469446|
|   NH|    177.32857264791215|
|   MI|     180.5931496554858|
|   NV|    176.42575651226622|
|   WI|    179.13076868424048|
|   ID|    178.61917814489914|
|   CA|    183.56470691456514|
|   NE|    177.46557423325837|
|   CT|    175.14054107666016|
|   MT|     174.0073528289795|
+-----+----------------------+
only showing top 20 rows